Khai báo thư viện

In [1]:
import pandas as pd
import matplotlib as mpl
import numpy as np
from sklearn.model_selection import train_test_split
import nltk
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Hello\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Hello\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Hello\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

Đọc dữ liệu

In [2]:
data = pd.read_csv('spam.csv', encoding='latin', engine='python')
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

Loại bỏ dữ liệu không cần thiết

In [3]:
df = data.iloc[:, [0,1]]
display(df)
df.isna().sum()

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

v1    0
v2    0
dtype: int64

Chuyển đổi nhãn sang dạng số

In [4]:
df['v1'] = data['v1'].map({'spam': 1, 'ham': 0})

df

C:\Users\Hello\AppData\Local\Temp\ipykernel_14644\3185387555.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['v1'] = data['v1'].map({'spam': 1, 'ham': 0})

      v1                                                 v2
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...
...   ..                                                ...
5567   1  This is the 2nd time we have tried 2 contact u...
5568   0              Will Ì_ b going to esplanade fr home?
5569   0  Pity, * was in mood for that. So...any other s...
5570   0  The guy did some bitching but I acted like i'd...
5571   0                         Rofl. Its true to its name

[5572 rows x 2 columns]

Loại bỏ các hàng dữ liệu trùng lặp

In [5]:
df = df.drop_duplicates()

df

      v1                                                 v2
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...
...   ..                                                ...
5567   1  This is the 2nd time we have tried 2 contact u...
5568   0              Will Ì_ b going to esplanade fr home?
5569   0  Pity, * was in mood for that. So...any other s...
5570   0  The guy did some bitching but I acted like i'd...
5571   0                         Rofl. Its true to its name

[5169 rows x 2 columns]

Loại bỏ các kí tự đặc biệt và chuyển sang chữ thường

In [6]:
import re

def preprocess_text(text):
    text = text.lower()
    text = re.sub(r'\W+', ' ', text)
    return text

df['v2'] = data['v2'].apply(preprocess_text)
display(df)
df['v2'].iloc[0]

C:\Users\Hello\AppData\Local\Temp\ipykernel_14644\716176527.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['v2'] = data['v2'].apply(preprocess_text)

      v1                                                 v2
0      0  go until jurong point crazy available only in ...
1      0                           ok lar joking wif u oni
2      1  free entry in 2 a wkly comp to win fa cup fina...
3      0       u dun say so early hor u c already then say
4      0  nah i don t think he goes to usf he lives arou...
...   ..                                                ...
5567   1  this is the 2nd time we have tried 2 contact u...
5568   0              will ì_ b going to esplanade fr home
5569   0  pity was in mood for that so any other suggest...
5570   0  the guy did some bitching but i acted like i d...
5571   0                          rofl its true to its name

[5169 rows x 2 columns]

'go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat '

Loại bỏ từ dừng và tách từ

In [7]:
stop_words = set(stopwords.words('english'))

def remove_stopwords(tokens):
    return [word for word in tokens if not word in stop_words]

def tokenize_text(text):
    tokens = word_tokenize(text)
    tokens = remove_stopwords(tokens)
    return tokens

df['tokens'] = df['v2'].apply(tokenize_text)
display(df)
df['tokens'].iloc[0]

C:\Users\Hello\AppData\Local\Temp\ipykernel_14644\725008812.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tokens'] = df['v2'].apply(tokenize_text)

,v1,v2,tokens
0,0,go until jurong point crazy available only in ...,"[go, jurong, point, crazy, available, bugis, n..."
1,0,ok lar joking wif u oni,"[ok, lar, joking, wif, u, oni]"
2,1,free entry in 2 a wkly comp to win fa cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,0,u dun say so early hor u c already then say,"[u, dun, say, early, hor, u, c, already, say]"
4,0,nah i don t think he goes to usf he lives arou...,"[nah, think, goes, usf, lives, around, though]"
...,...,...,...
5567,1,this is the 2nd time we have tried 2 contact u...,"[2nd, time, tried, 2, contact, u, u, å, 750, p..."
5568,0,will ì_ b going to esplanade fr home,"[ì_, b, going, esplanade, fr, home]"
5569,0,pity was in mood for that so any other suggest...,"[pity, mood, suggestions]"
5570,0,the guy did some bitching but i acted like i d...,"[guy, bitching, acted, like, interested, buyin..."
5571,0,rofl its true to its name,"[rofl, true, name]"

['go',
 'jurong',
 'point',
 'crazy',
 'available',
 'bugis',
 'n',
 'great',
 'world',
 'la',
 'e',
 'buffet',
 'cine',
 'got',
 'amore',
 'wat']

Thực hiện stemming

In [8]:
stemmer = PorterStemmer()
def stemming(tokens):
    stemmed_tokens = [stemmer.stem(word) for word in tokens]
    return stemmed_tokens
df['tokens'] = df['tokens'].apply(stemming)
display(df)
df['tokens'].iloc[0]

C:\Users\Hello\AppData\Local\Temp\ipykernel_14644\2292067873.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tokens'] = df['tokens'].apply(stemming)

,v1,v2,tokens
0,0,go until jurong point crazy available only in ...,"[go, jurong, point, crazi, avail, bugi, n, gre..."
1,0,ok lar joking wif u oni,"[ok, lar, joke, wif, u, oni]"
2,1,free entry in 2 a wkly comp to win fa cup fina...,"[free, entri, 2, wkli, comp, win, fa, cup, fin..."
3,0,u dun say so early hor u c already then say,"[u, dun, say, earli, hor, u, c, alreadi, say]"
4,0,nah i don t think he goes to usf he lives arou...,"[nah, think, goe, usf, live, around, though]"
...,...,...,...
5567,1,this is the 2nd time we have tried 2 contact u...,"[2nd, time, tri, 2, contact, u, u, å, 750, pou..."
5568,0,will ì_ b going to esplanade fr home,"[ì_, b, go, esplanad, fr, home]"
5569,0,pity was in mood for that so any other suggest...,"[piti, mood, suggest]"
5570,0,the guy did some bitching but i acted like i d...,"[guy, bitch, act, like, interest, buy, someth,..."
5571,0,rofl its true to its name,"[rofl, true, name]"

['go',
 'jurong',
 'point',
 'crazi',
 'avail',
 'bugi',
 'n',
 'great',
 'world',
 'la',
 'e',
 'buffet',
 'cine',
 'got',
 'amor',
 'wat']

In [9]:
def to_string(tokens):
    s = ""
    for i in tokens:
        i += " "
        s += i
    return s
df['tokens'] = df['tokens'].apply(to_string)
df

C:\Users\Hello\AppData\Local\Temp\ipykernel_14644\940610768.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tokens'] = df['tokens'].apply(to_string)

,v1,v2,tokens
0,0,go until jurong point crazy available only in ...,go jurong point crazi avail bugi n great world...
1,0,ok lar joking wif u oni,ok lar joke wif u oni
2,1,free entry in 2 a wkly comp to win fa cup fina...,free entri 2 wkli comp win fa cup final tkt 21...
3,0,u dun say so early hor u c already then say,u dun say earli hor u c alreadi say
4,0,nah i don t think he goes to usf he lives arou...,nah think goe usf live around though
...,...,...,...
5567,1,this is the 2nd time we have tried 2 contact u...,2nd time tri 2 contact u u å 750 pound prize 2...
5568,0,will ì_ b going to esplanade fr home,ì_ b go esplanad fr home
5569,0,pity was in mood for that so any other suggest...,piti mood suggest
5570,0,the guy did some bitching but i acted like i d...,guy bitch act like interest buy someth els nex...
5571,0,rofl its true to its name,rofl true name

Chuyển đổi dữ liệu sang dạng vector

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Chuyển đổi dữ liệu sang dạng vector
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['tokens'])

# Hiển thị số chiều của ma trận vector
print(X.shape)

(5169, 7209)

Chia tập dữ liệu thành tập train và test

In [11]:
y = df['v1']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Tiêu chuẩn hóa dữ liệu

In [12]:
from sklearn.preprocessing import StandardScaler

# Tiêu chuẩn hóa dữ liệu
scaler = StandardScaler(with_mean=False)
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Phân loại

In [13]:
from sklearn.naive_bayes import MultinomialNB

from sklearn.metrics import accuracy_score
clf = MultinomialNB()

# Huấn luyện mô hình
clf.fit(X_train, y_train)

# Dự đoán nhãn của các email trong tập kiểm tra
y_pred = clf.predict(X_test)

# Đánh giá độ chính xác của mô hình
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.9545454545454546